html {
  cursor: default;
}

a {
  color: inherit;
  text-decoration: none;
}

.homepage-slick-arrow {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  z-index: 1;
  cursor: pointer;
}

.cursor-pointer {
  cursor: pointer;
}

.container {
  display: flex;
  margin-top: 10px;
}

.link {
  text-decoration: none;
  color: inherit;
}
